# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
htmlcov/
.coverage
coverage.xml
.pytest_cache/


# this is me
*.json
#.pdf
tasks/
*.log
*.csv
new*
Z83_Form_*
test*
*.csv
preview.py
governance_app.py
pdf_viewer.py

.streamlit/secrets.toml
job_assist_cred.json
__pycache__
*.pyc
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
.streamlit/secrets.toml
