.st-emotion-cache-iyz50i.e1obcldf2 {
    background-color:black;
    color:white;
}

.st-emotion-cache-4uzi61.eiemyj5 {
    border-radius:25px;
    border-color:black;
    border-width: thick;
}

.st-emotion-cache-iyz50i.e1obcldf2:hover {
    color:white;
    background-color:red;
}

.st-emotion-cache-1h9usn1 {
    border-width: 5px;
    border-color: black;
}