.st-emotion-cache-4uzi61.eu6p4el5 {
    background-color:black;
    color:white;
}

.st-emotion-cache-4uzi61.eiemyj5 {
    border-radius:25px;
    border-color:black;
    border-width: thick;
}

.st-emotion-cache-iyz50i.e1obcldf2:hover {
    color:white;
    background-color:blue;
}

.st-emotion-cache-1h9usn1.eu6p4el5 {
    border-width: 5px;
    border-color: black;
}
